/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #f8f9fa, #e9ecef);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .container {
    text-align: center;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    border: 1px solid blackk;
  }
  
  h1 {
    color: #28a745;
    margin-bottom: 1rem;
  }
  
  p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 1.5rem;
  }
  
  button {
    background-color: #28a745;
    color: #fff;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  /* Responsividade */
  @media (max-width: 480px) {
    .container {
      padding: 1.5rem;
    }
    h1 {
      font-size: 1.5rem;
    }
    p {
      font-size: 0.9rem;
    }
    button {
      font-size: 0.9rem;
      padding: 0.7rem 1.2rem;
    }
  }
  